Protocol specification inspiration & best practices

**Inspiration**

*IETF specifications*

- [RFC 791 - Internet Protocol](https://tools.ietf.org/html/rfc791)
- [RFC 2818 - HTTP over TLS](https://tools.ietf.org/html/rfc2818)
- [RFC 5246 - The Transport Layer Security Protocol](https://tools.ietf.org/html/rfc5246)

*Cryptography*

- [Noise Protocol Specification](http://www.noiseprotocol.org/noise.pdf)

*Blockchain*

- [Zerocash Paper](http://zerocash-project.org/media/pdf/zerocash-extended-20140518.pdf)
- [Zcash Protocol Specification](https://github.com/zcash/zips/blob/master/protocol/protocol.pdf)

This issue was mistakenly reopened during some integration work, so closing again now.